{% extends 'base.html' %} {% block content %}

<h2>Comentários - {{ article.title }}</h2>

<form method="POST" class="mb-4">
  {% csrf_token %}
  <textarea
    name="text"
    class="form-control mb-2"
    placeholder="Escreve um comentário..."
  ></textarea>
  <button type="submit" class="btn btn-primary">Comentar</button>
</form>

<div class="card p-3">
  {% for comment in comments %}
  <p class="border-bottom pb-2">{{ comment.text }}</p>
  {% empty %}
  <p>Sem comentários ainda.</p>
  {% endfor %}
</div>

{% endblock %}
